
@{
    ViewBag.Title = "demoUpload";
}

<h2>檔案上傳</h2>

<form method="post" enctype="multipart/form-data" >
    <input type="file" name="photo" />
    <input type="submit"  value="開始上傳" />
    
</form>

